<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexhlabs | Home</title>
    <link rel="stylesheet" href="public/index.css">
</head>
<body>
     <nav class="navbar">
        <div class="container">
            <a href="./"><div class="logo">Nexhlabs.</div></a>
            <ul class="nav">
                <li>
                    <a class="nor" href="#">Products</a>
                </li>
                <li>
                    <a href="./logout" class="signup">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

  {{#if token}}
  <div class="auth">
    <h1>You're authenticated!</h1>
    <br>
    <h1>Username: {{ user }}</h1>
    <h1>Email: {{ email }}</h1>
  </div>
  {{else}}
        <script type="text/javascript">
            window.location.href = "../"
        </script>
  {{/if}}
    
</body>
</html>

