{{#if token}}
<div class="auth">
  <h1>You're authenticated!</h1> <a href="../logout">Logout</a> <a href="../">Home</a>
</div>
{{else}}
        <script type="text/javascript">
            window.location.href = "../"
        </script>
{{/if}}