<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexhlabs | Register</title>
    <link rel="stylesheet" href="public/forms.css">
    <link rel="stylesheet" href="public/index.css">
</head>
<body>

        <nav class="navbar">
        <div class="container">
            <a href="./"><div class="logo">Nexhlabs.</div></a>
            <ul class="nav">
                <li>
                    <a class="nor" href="#">Products</a>
                </li>
                <li>
                    <a href="./login" class="signup">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    {{#if msg}}
        <hgroup>
        <div class="error">
            <h1>{{ msg }}</h1>
        </div>
        </hgroup>
        {{else}}
    <hgroup>
        <div>
            <h1>Change Password</h1>
        </div>
        </hgroup>
    {{/if}}
<form action="{{ change }}" method="get">
    <div class="group">
        <input type="password" id="oldpass" name="password" pattern="[^&()/><\][\\\x22,;|]+" required><span class="highlight"></span><span class="bar"></span>
        <label>Current Password</label>
    </div>
    <div class="group-password">
        <input type="password" id="password" name="password" pattern="[^&()/><\][\\\x22,;|]+" required><span class="highlight"></span><span class="bar"></span>
        <label>New Password</label>
    </div>
    <div class="terms">
        <p>You agree to the <a href="./terms">terms</a></p>
    </div>
     <button type="submit" class="button buttonPink">Sign up</button>
</form>
    
</body>
</html>